@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap');

$font-color: #1C274C;
$logo-font: 'Bebas Neue', sans-serif;
$font-stack: Helvetica, sans-serif;
$primary-color: #fff;
$accent-color: #ff8100;
$button-shadow: rgba(0, 0, 0, 0.2);

@mixin button_state() {
    background-color: $accent-color;
    box-shadow: 0 4px 8px 0px $button-shadow;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 16fr 6fr;
    // justify-items: center;
    align-items: start;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border: 1px red dashed;
    padding: 20px;
}

// Left Nav style
.top-section {
    display: inline-grid;
    justify-items: center;
    align-items: start;
    gap: 5vh;
    #logo-w {
        display: inline-grid;
        justify-items: center;
        gap: 2px;
    } 
    #logo-text {
        color: $font-color;
        font-size: 24px;
        font-family: $logo-font;
        letter-spacing: 2px;
    }
    
    svg {
        width: 1.8rem;
    }

}
.nav-btn-c {
    display: inline-grid;
    justify-items: center;
    align-items: start;
    gap: 3vh;
}
.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: .8rem;
    border: none;
    background: none;
    svg {
        width: 1.3rem;
    }
}

.nav-btns:hover {
    @include button_state();
    svg path {
        stroke-width: 2px;
        stroke: $primary-color;
    }
    svg circle {
        stroke: $primary-color;
        stroke-width: 2px;
    }
}

#expend {
    svg {
        rotate: 180deg;
    }
}


