@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap");

$font-color: #1c274c;
$logo-font: "Bebas Neue", sans-serif;
$font-stack: Helvetica, sans-serif;
$primary-color: #fff;
$accent-color: #e67402;
$visiblity-crd-color: #defc74;
$grey-bg: #f7f7f7;
$pressure-crd-color: #1f2544;
$button-shadow: rgba(0, 0, 0, 0.2);

@mixin nav_button_hover_active() {
  background-color: $accent-color;
  box-shadow: 0 4px 8px 0px $button-shadow;
  svg path {
    stroke-width: 2px;
    stroke: $primary-color;
  }
  svg circle {
    stroke: $primary-color;
    stroke-width: 2px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}
body {
  overflow: hidden;
}
#main-container {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 14fr 4fr;
  align-items: start;
}

.outer-container {
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  // border: 1px red dashed;
  padding: 20px;
}

// Left Nav style
.top-section {
  display: inline-grid;
  justify-items: center;
  align-items: start;
  gap: 5vh;
  #logo-w {
    display: inline-grid;
    justify-items: center;
    gap: 2px;
  }
  #logo-text {
    color: $font-color;
    font-size: 24px;
    font-family: $logo-font;
    letter-spacing: 2px;
  }

  svg {
    width: 1.8rem;
  }
}
.nav-btn-c {
  display: inline-grid;
  justify-items: center;
  align-items: start;
  gap: 3vh;
}
.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 0.8rem;
  border: none;
  background: none;
  svg {
    width: 1.3rem;
  }
}

.nav-btns:hover {
  @include nav_button_hover_active();
}

#expend {
  svg {
    rotate: 180deg;
  }
}

.active {
  @include nav_button_hover_active();
}

// Main container layout style
#main-c {
  padding: 15px 120px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  grid-column: 2 / 3;
  width: 100%;
}

// Right info section layout style
#right-c {
  grid-column: 3 / 4;
  padding: 40px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: $grey-bg;
}

#right-info-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  #ris-place-name-temp-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $button-shadow;
    #day-state-place-name-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

#temps {
  font-size: 42px;
  color: $accent-color;
  font-weight: 600;
}

#ris-uv-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  color: $primary-color;
  background-color: $pressure-crd-color;
  width: 100%;
}

#ris-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#ris-uv-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#ris-uv-number-and-tag-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#ris-uv-data {
  font-size: 42px;
}

#ris-uv-tag {
  color: $font-color;
  font-size: 12px;
  display: flex;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: $visiblity-crd-color;
  text-align: center;
}

#ris-uv-text {
  font-size: 14px;
}

#ris-weather-prediction-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.ris-weather-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: $primary-color;
}

.ris-weather-card-date {
  color: #929090;
  font-size: 12px;
}

.ris-weather-card-icon-date-condition-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ris-weather-card-date-condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.ris-weather-card-temps {
  color: $accent-color;
}
#sun-position {
  width: 320px;
}
